<ion-header collapse="fade" [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Hello, {{ (user$ | async)?.displayName }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="ion-padding">

        <ion-list-header>
            <ion-label color="white">Upcoming Games</ion-label>
        </ion-list-header>

        <ion-list-header>
            <ion-label color="white"><p style="color: white; font-weight: 500;">Here's some suggested games for you:</p></ion-label>
        </ion-list-header>

        <!-- Skeletons -->
        <!--        <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="!content_loaded">-->
        <!--            <ion-item lines="none" *ngFor="let i of [].constructor(1);">-->
        <!--                <ion-avatar slot="start">-->
        <!--                    <ion-skeleton-text animated></ion-skeleton-text>-->
        <!--                </ion-avatar>-->
        <!--                <ion-label>-->
        <!--                    <h3>-->
        <!--                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>-->
        <!--                    </h3>-->
        <!--                    <p>-->
        <!--                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>-->
        <!--                    </p>-->
        <!--                </ion-label>-->
        <!--            </ion-item>-->
        <!--        </ion-list>-->

        <!--   Real items here   -->
        <!--        <ion-list class="item-card-list animate__animated animate__fadeIn" *ngIf="content_loaded" lines="none">-->
        <!--            <ion-item button detail>-->
        <!--                <ion-avatar slot="start" class="ion-avatar-default-icon">-->
        <!--                    <ion-icon name="wallet"></ion-icon>-->
        <!--                </ion-avatar>-->
        <!--                <ion-label>-->
        <!--                    <h3>$71,648.13</h3>-->
        <!--                    <p>Bank of America</p>-->
        <!--                </ion-label>-->
        <!--            </ion-item>-->
        <!--        </ion-list>-->

        <!--        <hr>-->

        <ion-card *ngFor="let game of activeGames">
            <img alt="Silhouette of mountains" src="{{ game.arenaPhotoUrl }}"/>
            <ion-card-header style="padding-bottom: 0">
                <ion-card-title>{{ game.name }}</ion-card-title>
                <ion-card-subtitle>
                    {{ game.date }}
                    <br>
                    {{ game.time }}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-text color="light">
                    <ion-chip>
                        <ion-icon name="people"></ion-icon>
                        <ion-label>{{ game.spotsLeft }} spots left</ion-label>
                    </ion-chip>
                    <br>
                </ion-text>

                <ion-text color="light">
                    <ion-icon name="cash-outline"></ion-icon>
                    Price: {{ game.price }}
                    <br>
                </ion-text>

                <ion-text color="light">
                    <ion-icon name="location"></ion-icon>
                    Location: {{ game.location }}
                    <br>
                </ion-text>

                <br>

                <ion-button *ngIf="game.spotsLeft != 0" (click)="goToGamePage(game)">Book Slot</ion-button>
                <ion-button *ngIf="game.spotsLeft == 0" [disabled]="true">Slots Fully Booked</ion-button>

            </ion-card-content>
        </ion-card>


        <!--        <ion-list-header>-->
        <!--            <ion-label color="white">Recent transactions</ion-label>-->
        <!--            <ion-button *ngIf="content_loaded" routerLink="/payments">See All-->
        <!--                <ion-icon slot="end" name="arrow-forward"></ion-icon>-->
        <!--            </ion-button>-->
        <!--        </ion-list-header>-->

        <!--        &lt;!&ndash; Skeletons &ndash;&gt;-->
        <!--        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!content_loaded">-->
        <!--            <ion-item *ngFor="let i of [].constructor(3);">-->
        <!--                <ion-label>-->
        <!--                    <h3>-->
        <!--                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>-->
        <!--                    </h3>-->
        <!--                    <p>-->
        <!--                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>-->
        <!--                    </p>-->
        <!--                </ion-label>-->
        <!--                <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>-->
        <!--            </ion-item>-->
        <!--        </ion-list>-->

        <!--        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="content_loaded">-->
        <!--            <ion-item button detail="false">-->
        <!--                <ion-label>-->
        <!--                    <h3>Coffee</h3>-->
        <!--                    <p>Starbucks &middot; 04.01.2022</p>-->
        <!--                </ion-label>-->
        <!--                <ion-badge color="danger" mode="ios" slot="end">- $8.60</ion-badge>-->
        <!--            </ion-item>-->
        <!--            <ion-item button detail="false">-->
        <!--                <ion-label>-->
        <!--                    <h3>Salary</h3>-->
        <!--                    <p>Apple Inc. &middot; 03.01.2022</p>-->
        <!--                </ion-label>-->
        <!--                <ion-badge color="medium" mode="ios" slot="end">$8412.48</ion-badge>-->
        <!--            </ion-item>-->
        <!--            <ion-item button detail="false">-->
        <!--                <ion-label>-->
        <!--                    <h3>Rent</h3>-->
        <!--                    <p>Housing Inc. &middot; 01.01.2022</p>-->
        <!--                </ion-label>-->
        <!--                <ion-badge color="danger" mode="ios" slot="end">- $1400.00</ion-badge>-->
        <!--            </ion-item>-->
        <!--        </ion-list>-->

    </div>

</ion-content>
