<ion-header collapse="fade" [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back" defaultHref="/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="hero hero-light-gradient">
        <ion-avatar>
            <ion-icon class="avatar-icon-placeholder" name="person-circle" color="tertiary">
            </ion-icon>
        </ion-avatar>
        <ion-button class="ion-button-small" color="primary" fill="clear" (click)="updateProfilePicture()">
            Update profile picture
        </ion-button>
    </div>

    <div class="ion-padding">

        <form class="form-default" [formGroup]="edit_profile_form" (submit)="submit()">

            <ion-list class="item-card-list" lines="none">
                <ion-item>
                    <ion-label color="tertiary" position="stacked">Name</ion-label>
                    <ion-input formControlName="username" placeholder="Name" [ngModel]="username"></ion-input>
                </ion-item>
            </ion-list>

            <p class="list-description">Info: Upon clicking save, username will be changed.</p>

            <br>

            <div class="ion-text-center">
                <ion-button expand="block" type="submit" shape="round">
                    Save
                </ion-button>
            </div>

        </form>

    </div>

</ion-content>
