<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Insights
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Insights</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-card class="ion-card-chart ion-no-margin animate__animated animate__fadeIn">

      <!-- Skeletons -->
      <ng-container *ngIf="!content_loaded">
        <ion-card-header>
          <div>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 60px"></ion-skeleton-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
            </ion-card-subtitle>
          </div>
          <ion-badge color="primary" mode="ios">
            <ion-skeleton-text animated style="width: 50px"></ion-skeleton-text>
          </ion-badge>
        </ion-card-header>

        <ion-skeleton-text animated style="width: calc(100% - 40px); margin: 16px auto 16px auto; min-height: 140px;">
        </ion-skeleton-text>
      </ng-container>

      <!-- Chart -->
      <ng-container *ngIf="content_loaded">
        <ion-card-header>
          <div>
            <ion-card-title>$481.00</ion-card-title>
            <ion-card-subtitle>Spent in total this year</ion-card-subtitle>
          </div>
          <ion-badge color="primary" mode="ios">
            <ion-icon name="caret-up"></ion-icon>21.16%
          </ion-badge>
        </ion-card-header>

        <canvas baseChart [data]="bar_chart_data" [options]="bar_chart_option" [type]="bar_chart_type"
          class="ion-padding">
        </canvas>
      </ng-container>

    </ion-card>

    <hr class="hr-medium">

    <ion-list-header>
      <ion-label color="white">Spending categories</ion-label>
    </ion-list-header>

    <!-- Skeletons -->
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!content_loaded">
      <ion-item button detail="false" *ngFor="let i of [].constructor(4);">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </h3>
          <p class="font-size-smallest">
            <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="content_loaded">
      <ion-item button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="home"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Home & living</h3>
          <p class="font-size-smallest">1 transaction</p>
        </ion-label>
        <ion-note color="primary" class="ion-note-small font-weight-500 ion-padding-end-small">$1,021</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="wallet"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Loans</h3>
          <p class="font-size-smallest">2 transactions</p>
        </ion-label>
        <ion-note color="primary" class="ion-note-small font-weight-500 ion-padding-end-small">$407.21</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="barbell"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Sports</h3>
          <p class="font-size-smallest">1 transaction</p>
        </ion-label>
        <ion-note color="primary" class="ion-note-small font-weight-500 ion-padding-end-small">$17.99</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon color="primary" name="medkit"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h3>Insurance</h3>
          <p class="font-size-smallest">3 transactions</p>
        </ion-label>
        <ion-note color="primary" class="ion-note-small font-weight-500 ion-padding-end-small">$140.15</ion-note>
      </ion-item>
    </ion-list>

  </div>

</ion-content>