<ion-header collapse="fade" [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Home" defaultHref="/home">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            Game Session Detail
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list-header class="ion-text-center">
        <ion-label color="white">{{ (game$ | async)?.name }}</ion-label>
    </ion-list-header>

    <ion-img src="{{ (game$ | async)?.arenaPhotoUrl }}" alt="Futsal court"></ion-img>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-chip color="tertiary">Format: {{ (game$ | async)?.formatType }}</ion-chip>
            </ion-col>
            <ion-col>
                <ion-chip color="tertiary">Price: {{ (game$ | async)?.price }} </ion-chip>
            </ion-col>
            <ion-col>
                <ion-chip color="tertiary">Floor: {{ (game$ | async)?.floorType }}</ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="ion-text-center">
        <ion-text color="light" style="margin-top: 10px">
            <ion-icon name="location"></ion-icon>
            Location: {{ (game$ | async)?.location }}
            <br>
        </ion-text>
    </div>

    <div class="ion-text-center">
        <ion-text color="light" style="margin-top: 10px">
            <ion-icon name="calendar-outline"></ion-icon>
            Date: {{ (game$ | async)?.date }}
            <br>
        </ion-text>
    </div>

    <div class="ion-text-center">
        <ion-text color="light" style="margin-top: 10px">
            <ion-icon name="time-outline"></ion-icon>
            Time: {{ (game$ | async)?.time }}
            <br>
        </ion-text>
    </div>

    <hr style="background: grey">

    <div class="ion-text-center">

        <!-- Spots left -->
        <ion-chip>
            <ion-icon name="people"></ion-icon>
            <ion-label>{{ calculateSpotsLeft() }} spots left</ion-label>
        </ion-chip>

        <br>
        Lineup
        <br>

        Total players signed up: {{ (playerList$ | async)?.length }}

        <ion-grid>
            <ion-row>
                <ion-col size="6" *ngFor="let player of playerList$ | async; let i = index">
                    <ion-item>
                        <ion-label>{{ i + 1 }}. {{ player.playerName }}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>


    </div>

    <hr style="background: grey">

    <div class="ion-text-center">

        <ion-button *ngIf="calculateSpotsLeft() != 0 && !is_modal_open" (click)="openCard()">Book Slot</ion-button>

        <ion-button *ngIf="calculateSpotsLeft() != 0 && is_modal_open" (click)="openCard()" [disabled]="true">
            <ion-spinner></ion-spinner>
            Book Slot
        </ion-button>

        <ion-button *ngIf="calculateSpotsLeft() == 0" [disabled]="true">Slots Fully Booked</ion-button>
    </div>

    <br> <br>

    <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header" color="dark">
                <ion-label class="ion-text-center">Description</ion-label>
            </ion-item>
            <div class="ion-padding ion-text-center" slot="content">

                💦 Bring your bottle of water <br>

                👕 Bibs will be provided <br>

                ⏱️ Please arrive 15 minutes earlier before the game for briefing and team assignment. <br>

                <br> *GAMEPLAY DETAILS* <br>

                🥅 {{ (game$ | async)?.formatType }} - no subs <br>

                ♻️ Goalkeeper changes, if required <br>

                <br> *VENUE DETAILS* <br>

                👌 Good quality {{ (game$ | async)?.floorType }} <br>

                🚗 Ample Parking <br>

                ✅ Free shower and dressing rooms <br>
            </div>
        </ion-accordion>
    </ion-accordion-group>

</ion-content>
