<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Settings" defaultHref="/settings">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Privacy</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item detail="false">
        <ion-icon slot="start" color="medium" name="notifications"></ion-icon>
        <ion-label>
          <h3>Notifications</h3>
        </ion-label>
        <ion-toggle checked slot="end"></ion-toggle>
      </ion-item>
    </ion-list>
    <p class="list-description">We never display sensible data in your notifications.</p>

    <hr class="hr-medium">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Feedback & Reports</ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item detail="false">
        <ion-icon slot="start" color="medium" name="bug"></ion-icon>
        <ion-label>
          <h3>Share crash reports</h3>
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-item detail="false">
        <ion-icon slot="start" color="medium" name="document"></ion-icon>
        <ion-label>
          <h3>Protocols</h3>
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-list>
    <p class="list-description">Activate this function to auto share crash reports with us. Important: no personal or financial data is shared.</p>

    <hr class="hr-medium">

    <ion-list class="list-custom" lines="full">
      <ion-item button detail=false>
        <ion-icon slot="start" color="danger" name="close"></ion-icon>
        <ion-label color="danger">
          <h3>Delete account</h3>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>