<ion-header>
    <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start">
            <ion-back-button text="Sign in" defaultHref="/signin"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="ion-padding ion-full-height ion-flex ion-flex-center">

        <div class="logo-container">
            <h1 class="logo-placeholder">FutBuddy</h1>
            <p>Sign up to enjoy all of our cool features</p>
        </div>

        <form class="form-default" [formGroup]="signup_form" (submit)="signUp()">

            <ion-list class="item-card-list" lines="none">

                <ion-item>
                    <ion-label color="tertiary" position="stacked">Name</ion-label>
                    <ion-input formControlName="name" type="text" autocomplete="off"
                               placeholder="Your name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label color="tertiary" position="stacked">Email</ion-label>
                    <ion-input formControlName="email" type="email" autocomplete="off"
                               placeholder="Your email address"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-top-small">
                    <ion-label color="tertiary" position="stacked">Password</ion-label>
                    <ion-input formControlName="password" type="password" placeholder="Your password"></ion-input>
                </ion-item>

            </ion-list>

            <ion-button class="ion-margin-top" type="submit" expand="block" color="primary">
                Sign up
            </ion-button>
        </form>

        <div class="ion-text-center ion-margin-top">

            <ion-text color="medium">
                <small>By signing up to create an account, I accept FutBuddy's
                    <a href="https://docs.google.com/document/d/176yd1FKoLXZYo448uO8-zss47EQ9ljuaX756M-IAObY/edit?usp=sharing" target="_blank">
                        Terms & Conditions
                    </a>
                    and
                    <a href="https://docs.google.com/document/d/1rnCh_X1zBIJcypzwh3G2axpfBqYirPAoKM2uXfoGQrg/edit?usp=sharing" target="_blank">
                        Privacy Policy
                    </a>
                </small>
            </ion-text>

            <br>

            <ion-text color="medium">
                <small>&copy; {{current_year}} FutBuddy</small>
            </ion-text>
        </div>

    </div>

</ion-content>
