<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                Close
            </ion-button>
        </ion-buttons>
        <ion-title>
            DuitNow QR Code
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <img src="https://firebasestorage.googleapis.com/v0/b/futbuddy-kl.appspot.com/o/qr-code%2FFutBuddy%20QR%20Code.jpg?alt=media&token=12a03de5-8576-4435-a3d9-64a28564127c"
         alt="QR Code">

    <div class="ion-text-center">
        <ion-button color="light" (click)="close()" style="margin-top: 20px">Close</ion-button>
    </div>

</ion-content>
